* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: 100%;
  background-color: white;
}
#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#nav_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#nav h3 {
  padding: 5px 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: 500;
}
#nav i {
  padding: 5px 20px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 50px;
  font-weight: 500;
}
#nav h1 {
  font-weight: 400;
  font-size: 25px;
}
#nav button {
  padding: 5px 20px;
  border: 1.5px solid black;
  border-radius: 50px;
  font-size: 16px;
}
#signup {
  border: none;
  background-color: orangered;
  color: white;
  cursor: pointer;
}
#login {
  cursor: pointer;
}
#bigg {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
img {
  height: 400px;
  width: 300px;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
#img1 {
  transform: translate(-50%, -50%) rotate(-30deg);
}
#img2 {
  transform: translate(-50%, -50%) rotate(-20deg);
}
#img3 {
  transform: translate(-50%, -50%) rotate(-10deg);
}
#img4 {
  transform: translate(-50%, -50%) rotate(-1deg);
}
#btmleft {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
#btmright {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 5px;
}
.icons {
  position: absolute;
  bottom: 10%;
  right: 6%;
  word-spacing: 25px;
  cursor: pointer;
}

